<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <title>Fragments</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="sidebar" th:fragment="navbar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

            <!--
                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag
            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        API Scrape tool
                    </a>
                </div>

                <ul class="nav">
                    <div  class="col-lg-12 row">
                    <li class="active">
                        <a th:href="@{'/'}">

                            <p>API List</p>
                        </a>
                    </li>
                    </div>
                    <div  class="col-lg-12 row">
                    <li>
                        <a th:href="@{'/api/add'}">
                            <p>Add API</p>
                        </a>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>