<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Messages : View all</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>

</head>
<body>
<div class="wrapper">
    <div th:replace="fragments :: navbar"></div>
    <div class="main-panel">
    <h3 th:text="${api.name}" class="text-muted offset-lg-4 ">API name</h3>
        <div class="row">
        <div class="col-md-8 offset-lg-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Endpoints bij de betreffende API</h4>
                    <p class="category">Klap open voor laatste resultaat</p>
                </div>
                <table class="table" id="endpointtable">
                    <thead>
                    <tr>
                        <th>Endpoint url</th>
                        <th>Details</th>
                        <th>Export</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:unless="${api.endpoints}">
                        <td>No endpoints</td>
                    </tr>
                    <div th:each="endpoint : ${api.endpoints.entrySet()}">
                        <div th:if="${endpoint.getValue().getResults().size()!= null}">
                        <div th:each="result :${endpoint.getValue().getResults().entrySet()}">
                        <tr th:attr="data-child-value=${result.getValue().result}" >
                        <td class="details-control"></td>
                        <td th:text="${endpoint.getValue().getName()}">endpoint name</td>
                            <td><a th:href="@{'/result/' + ${result.getKey()} + '?format=json' }">json</a>
                            <a th:href="@{'/result/' + ${result.getKey()} + '?format=xml' }">xml</a></td>
                        </tr>
                        </div>
                        </div>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-lg-2">
                <div class="card">
                    <div class="header">
                        <h4 class="title">States bij de betreffende API</h4>
                        <p class="category">Klap open voor de endpoints bij betreffende state</p>
                    </div>
                    <table class="table" id="statestable">
                        <thead>
                        <tr>
                            <th>Endpoint url</th>
                            <th>Details</th>
                            <th>Export</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:unless="${api.endpoints}">
                            <td>No endpoints</td>
                        </tr>
                    <div th:if="${api.careTaker != null}">
                        <div th:each="APImemento : ${api.careTaker.mementos}">
                                    <tr>
                                        <td>
                                           <div th:each="endpoint : ${APImemento.endpoints.entrySet()}">
                                               <p th:text="${endpoint.getValue().name}"></p>
                                           </div>
                                        </td>
                                        <td th:text="${APImemento.state}">Status</td>
                                            <td><a th:href="@{'/api/restore/' + ${api.getId()} + '/' + ${APImemento.id}}"
                                        > EDIT </a></td>
                                    </tr>
                        </div>
                    </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../../js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
<script>
    function format(value) {
        console.log(value);
        return '<pre style="height:120px;width:600px;border:1px solid #ccc;font:16px/26px Droid Sans, Garamond, Serif;overflow:auto;" id="textjson">Result: ' + JSON.stringify(value, null, ' ') + '</pre>';
    }

    $(document).ready(function() {
      var table =  $('#endpointtable').DataTable( {
            responsive: true

        });
        $('#endpointtable').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(tr.data('child-value'))).show();
                tr.addClass('shown');
            }
        });
    } );

</script>
</html>